
.ipynb_checkpoints/8_Sammenlign_metadata-checkpoint.ipynb
.ipynb_checkpoints/4 a_N-gram_og_galakser_åpen-checkpoint.ipynb
.ipynb_checkpoints/8_Sammenlign_metadata-checkpoint.ipynb
.ipynb_checkpoints/4_N-gram_og_galakser-checkpoint.ipynb
.ipynb_checkpoints/1_Bygg_korpus-checkpoint.ipynb
